---
layout: default
---

<!---<div class="slidesow">
  <a href="/fish-in-the-sea/"><img class="mySlides" src="http://danaamundsen.site44.com/images/portfolio/magazine/fish.png"></a>
  <a href="/sledding/"><img class="mySlides" src="http://danaamundsen.site44.com/images/portfolio/magazine/sledding.png"></a>
  <a href="/forest-of-the-unicorn/"><img class="mySlides" src="http://danaamundsen.site44.com/images/portfolio/covers/fantasy_anthology.png"></a>
  <a href="/pip-and-maus/""><img class="mySlides" src="http://danaamundsen.site44.com/images/portfolio/commissions/pip_and_maus.png"></a>
</div>--->

{% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
	  <div class="container">
      {% for post in tag[1] %}

      <div class="post">
	<img src="{{ post.image }}" class="post_image">
	<div class="post_hover">
	<div class="post_desc"><p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br>{{ post.desc }}</p></div>
	</div>
	      </div>
      {% endfor %}
	  </div>
    {% endfor %}

                                                                                                                                              
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 2 seconds
}
</script>
