---
---

@import "{{ site.theme }}";

h2 {
  border-bottom: 1px solid #D1C9E4;
}

h4 {
  color: #674EA7;
}

a {
  color:#674EA7;
  text-decoration: underline;
}

a:hover, a:focus {
  color:#D1C9E4;
  font-weight: inherit;
  text-decoration: none;
}

.mySlides{
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 600px;
}

.buttons{
  margin: auto;
  text-align: center;
}

.slidebutton{
  border: none;
  border-radius: 4px;
  background-color: #D1C9E4;
  color: #fff;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.2s;
  margin: 3px;
}

.slidebutton:hover{
  background-color: #fff;
  color: #D1C9E4;
}

.portfolio_item {
  width: 150px;
  height: 200px;
  margin:0px;
  position: relative;
  padding: 5px;
  float:left;
}

.portfolio_image {
  opacity: 1;
  display: inline-block;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 0%;
  width: 150px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.portfolio_hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.portfolio_item:hover .portfolio_image {
  opacity: .3;
}

.portfolio_item:hover .portfolio_hover {
  opacity: 1;
}

.portfolio_desc {
  background-color: #fcf6fe;
  color: #D1C9E4;
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
  color: #674EA7;
}

@media print, screen and (max-width: 960px) {

    section {
    border:0px solid #fff;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  .portfolio_item {
  width: 150px;
}

.portfolio_image {
  object-position: 50% 50%;
  width: 150px;
}
  
}


@media print, screen and (max-width: 720px) {

.mySlides{
  height: 300px;
}
  
  .portfolio_item {
  width: 100%;
}

.portfolio_image {
  object-position: 50% 50%;
  width: 100%;
}
  
}

@media print, screen and (max-width: 480px) { 

  .portfolio_item {
  width: 100%;
}

.portfolio_image {
  object-position: 50% 50%;
  width: 100%;
}

}
