<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo"/>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
<div class="dropdown">
  <button class="dropbtn">Illustrations</button>
</div>
<div class="dropdown">
  <button class="dropbtn">Client Work</button>
  <div class="dropdown-content">
    <a href="#">Louisville Magazine</a>
    <a href="#">Design and Build Great Web APIs</a>
    <a href="#">Lelana Creations</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Comics</button>
  <div class="dropdown-content">
    <a href="#">Lady Knight</a>
    <a href="#">Forest of the Unicorn</a>
    <a href="#">Space Cat</a>
  </div>
</div>
        
<div class="dropdown">
  <button class="dropbtn">3D Modeling</button>
</div>
        
      <ul><li><a href="#">Illustrations</a></li>
        <li><a href="#">Client Work</a></li>
        <li><a href="#">Comics</a></li>
        <li><a href="#">About</a></li>
      </header>
        
      <section>

      {{ content }}

      </section>
        
      <footer>
  
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
