<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo"/>
        {% endif %}

        <p>{{ site.description }}</p>
        
      <ul class="menu"><li class="menu_item"><a href="index.html#illustration">Illustrations</a></li>
        <li class="menu_item"><a href="index.html#client_work">Client Work</a></li>
        <li class="menu_item"><a href="index.html#comics">Comics</a></li>
        <li class="menu_item"><a href="index.html#32_model">3D Modeling</a></li>
        <li class="menu_item"><a href="/about/">About</a></li></ul>
      </header>
        
      <section>

      {{ content }}

      </section>
        
      <footer>
  
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
