---
layout: default
---


<h2>{{ page.title }}</h2>

{{content}}

 <!-- <small> date: {{ page.date | date: "%D" }} | 
 
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  tags: <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a></small>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}-->

<p align="right">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}"><-- {{page.previous.title}}</a> | 
    {% endif %}

    {% if page.next.url %}
    <a href="{{page.next.url}}">{{page.next.title}} --></a>
    {% endif %}
</p>
<!--- {{page.previous.title}} {{page.next.title}}--->
